@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDLY</h1>
    <p class="lead">Hello and welcome to my training webpage. This webpage is a tutorial of Vidly which is Mosh Hamedani's ASP.net tutorial videos.</p>
    <p><a href="https://www.youtube.com/watch?v=E7Voso411Vs" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started, click on Customers or Movies from NavBar.
        </p>
        <p"><a style="visibility: hidden" class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mosh Tutorial</h2>
        <p>I used the tutorial on Youtube which is the crash course for ASP.net that mashed with the videos from Udemy. You can check his Udemy page for full course or go to Youtube page for a crash course.</p>
        <p>
            <a class="btn btn-danger" style="color:white; font-family:'Yu Gothic UI'" href="https://www.youtube.com/watch?v=E7Voso411Vs">Youtube &raquo;</a>
            <label> OR </label>
            <a class="btn btn-default" style="color:black; font-family:'Yu Gothic UI'" href="https://www.udemy.com/user/moshfeghhamedani/"><b>Udemy</b> &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>My Git Page</h2>
        <p>You can easily find other materials I have worked or still am working on my GitHub page.</p>
        <p><a class="btn btn-default" href="https://github.com/hur-tursen">Go to GitHub &raquo;</a></p>
    </div>
</div>