<div class="sidenav">
    
    <ul class="list-inline">
        <li>
            <a href="#">
                <i class="fas fa-home"></i>
                <span>Ana Sayfa</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span>Yeni Arýza Kaydý</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-list"></i>
                <span>Arýza Kayýtlarý</span>
            </a>
            <ul>
                <li>
                    <a>deneme</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-users"></i>
                <span>Müþteriler</span>
            </a>
        </li>
    </ul>



    <!---<a href="#">
        <i class="fas fa-list"></i>
        <span>Ana Sayfa</span>
    </a>
    <a href="#">
        <i class="fas fa-plus-circle"></i>
        <span>Yeni Arýza Kaydý</span>
    </a>
    <a href="#">
        <i class="far fa-clipboard"></i>
        <span>Arýza Kayýtlarý</span>
    </a>
    <a href="#">
        <i class="fas fa-users"></i>
        <span>Müþteriler</span>
    </a>-->


</div>