
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    @foreach (var customer in Model.Customers)
    {
        <thead>
            <tr class="@customer.Status">
                <td>@Html.ActionLink((string)customer.Name, "details/" + (string)customer.Name)</td>
                <td scope="col">@customer.Description</td>
            </tr>
        </thead>
    }

</table>

